*~
.*.swp
.DS_Store
*.retry
*.bak
desktop.ini
.ansible_vault_password
ansible.cfg
ansible/main/roles/rhel6-stig
ansible/main/roles/rhel7-stig
.password
.idea/*
*.tfstate
!terraform/main/spaces/state-storage-inception/inception/*.tfstate
*.tfstate.backup
.terraform/
.temp_credentials
*.zip
*.tar.gz
.sync-config.cson
public
_book
terraform/main/environments/**/env_*.tf
app/**/enum
*.pyc
dev-station/.vagrant
node_modules
.vscode
